.projectsMain {
    background-color: #eeece6;
    /* background-color: #110f0f; */
    height: auto;
    width: 100%;
    position: relative;
    /* background-color: #110f0f; */
    border-bottom: 1px solid linear-gradient(-180deg, hsl(46deg 68% 53%), hsl(46deg 72% 37%));
    padding-bottom: 100px;
    padding-top: 40px;

    border-bottom: 0.1px solid grey;
}
.largeColon {
    font-size: 100px;
}
.title {
    text-align: center;
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Montserrat', sans-serif;
    /* color: #f4d44e; */
    color: black;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 39px;
}
.underline {
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: black;
    bottom: -12%;
    left: 10%;
}

.cardContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    position: relative;
    border-radius: 20px;
    width: calc(100% / 3.1);
    height: 300px;
    margin: 0 auto;
    background-color: grey;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    transition: 1s;
    overflow: hidden;
}
@media screen and (max-width: 1000px) {
    .card {
        width: 48%;
    }

}
@media screen and (max-width: 768px) {
    .card {
        width: 48%;
    }

}
@media screen and (max-width: 425px) {
    .card {
        width: 80%;
    }
}
.customShapeDividerTop1670520310 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 10;
}
.svg {
    filter: brightness(0) invert(1);
}
.fancy_button_container {
height: 15%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: hwb(0deg 15% 85%);
border-radius: 20px 20px 0 0;
}
.fancy_button_container img {
    width: 20px;
}
.image_container {
    height: 85%;
    width: 100%;
}
.image_container img {
    width: 100%;
    height: 100%;
}
.text_container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  opacity: 0;
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  transition: 1s;
}
#text {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 1s;
    font-size: 20px;
    font-family: poppins;
}
.card:hover .text_container,
.card:hover #text {
    opacity: 0.82;
}

.card:hover #text {
    opacity: 1;

}
.card:hover {
    transform: translateY(-15px);
}
